{% load static %}
<html>
    <head>
        <title>Recenzje</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    </head>
    <body background="../static/images/background.jpg">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
           <a class="navbar-brand" href="../">www.harbinger.pl</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
             <div class="collapse navbar-collapse" id="collapsibleNavbar">
                 <ul class="nav navbar-nav navbar-right">
                     <li class="nav-item">
                        <a class="nav-link" href="/signup"><i class="fab fa-instagram"></i></a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""><i class="fab fa-facebook-f"></i> </a>
                    </li>

                 </ul>
                <ul class="nav navbar-nav navbar-center">
                    <li class="nav-item">
                        <a class="nav-link" href="../">STRONA GŁÓWNA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../aboutMe">O MNIE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../books">TEKSTY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">RECENZJE</a>
                    </li>
                </ul>
             </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Wyloguj ({{ user.username }})</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="../signup"><span class="fas fa-user"></span> Rejestracja</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../login"><span class="fas fa-sign-in-alt"></span> Logowanie</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </nav>

        <div class="content container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="post">
                        <h1 class="textTitle">Recenzje</h1>
                        <hr>
                        <h2>Fantasy</h2>
                        {% for review in reviews %}

                        <div class="review">
                            <div class="row">
                                <div class="col-sm-4">
                                    <a href="{{review.id}}/"><img src="{{review.url}}"></a>
                                </div>
                                <div class="col-sm-8">
                                    <p>{{ review.text|safe|truncatewords:80 }} <a href="{{review.id}}/">(czytaj dalej)</a></p>
                                </div>
                            </div>


                        </div>

                        <hr>
                        {% endfor %}
                        
                    </div>
                </div>
                 <div class="col-sm-4">
                    <div class="aboutPanel">
                        <h5>Krótko o mnie</h5>
                        <p>Cześć, jestem Aleksander.</br>
                            Studiuję informatykę, a&nbsp;w&nbsp;wolnym czasie oddaję się pasji, jaką&nbsp;jest pisanie.</br>
                            Tworzę opowiadania i&nbsp;powieść w&nbsp;klimatach fantasy, więc&nbsp;jeżeli lubisz ten gatunek, to&nbsp;gorąco zapraszam do zapoznania&nbsp;się z&nbsp;moją twórczością.
                            Najbardziej cenię sobie szczerą, zasłużoną&nbsp;krytykę&nbsp;;)<br>
                            Jeśli chcesz dowiedzieć się więcej o&nbsp;mnie i&nbsp;o&nbsp;forum, zapraszam&nbsp;<a href="/aboutMe">tutaj</a>.</p>
                    </div>
                     <div class="aboutPanel">
                         <h4>W kolejce do recenzji</h4>
                         <hr>
                         <a href=""><img src="https://ecsmedia.pl/c/wyrocznia-virion-tom-1-w-iext51598004.jpg"></a>
                         <hr>
                         <a href=""><img src="https://ecsmedia.pl/c/pol-krola-morze-drzazg-tom-1-w-iext43259274.jpg"></a>
                         <hr>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>