{% load static %}
<html>
    <head>
        <title>O mnie </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="../">antyrecenzja.herokuapp.com</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/aleksandercuch/"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/Embers-eyed-100590794634472"><i class="fab fa-facebook-f"></i> </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-center">
                    <li class="nav-item">
                        <a class="nav-link" href="../">STRONA GŁÓWNA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">O MNIE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../books">TEKSTY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../reviews">RECENZJE</a>
                    </li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Wyloguj ({{ user.username }})</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="../signup"><span class="fas fa-user"></span> Rejestracja</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../login"><span class="fas fa-sign-in-alt"></span> Logowanie</a>
                    </li>
                {% endif %}
                </ul>
        </nav>

        <div class="content container">
            <div class="row">
                <div class="col-sm-8 leftSide">
                    <h1 class="textTitle">Trochę o mnie</h1>
                    <hr>
                    <p>Na początek wypadałoby się przedstawić. Nazywam się Aleksander i&nbsp;niemal od
                        urodzenia mieszkam w Gdańsku, gdzie&nbsp;już trzeci rok studiuję informatykę. Przeglądaną przez Ciebie stronę
                        napisałem sam, więc&nbsp;mam nadzieję, że&nbsp;w&nbsp;chwili, gdy&nbsp;zobaczyłeś stronę główną, nie&nbsp;pomyślałeś czegoś w stylu
                        „Oho, to musi być dzieło studenta!” :D</p>

                    <p>Blog służy głównie do publikowania mojej twórczości. Jeżeli interesujesz się tematyką fantasy, to&nbsp;zapraszam do
                        działu "Teksty", gdzie&nbsp;będziesz mógł przeczytać kilka rozdziałów książki, nad&nbsp;którą obecnie pracuję. Będziesz
                        miał też okazję wypowiedzieć się na ten temat w komentarzu (niezwykle cenię sobie zasłużoną krytykę).</p>

                    <p>Treści na mojej stronie są przeznaczone również dla czytelnika, który&nbsp;szuka rady odnośnie książki do przeczytania lub też
                        po prostu szuka newsów ze świata literatury. Takich podróżników zapraszam do działu "Recenzje", gdzie&nbsp;wypowiadam się
                        na temat przeczytanych przeze mnie książek, i&nbsp;obserwowania strony głównej, gdzie&nbsp;co mniej więcej półtora
                        tygodnia będzie pojawiać się ciekawy post.</p>

                    <p>Dla ciekawskich umieściłem niżej rozszerzoną wersję "O mnie", tymczasem&nbsp;życzę wszystkim ciekawej podróży po mojej stronie
                        i&nbsp;zapraszam do&nbsp;kontaktu :)</p>
                    <hr>
                    <h3>A więc rozsiądź się wygodnie...</h3>
                    <hr>
                    <p>Jako dziecko nienawidziłem książek! Poważnie. Jedyne, co&nbsp;mnie interesowało, to&nbsp;zabawa Bioniclami lub granie na komputerze…
                        No dobra, głównie druga z tych rzeczy, co szybko zauważył mój tato (w końcu nie bez przyczyny uczę się na informatyka).
                        Moi rodzice zawsze byli oczytani i&nbsp;przez jakiś czas naprawdę starali się przekonać mnie do książek.
                        Jednym z&nbsp;ich sposobów było zawarcie ze mną układu(nie, nie mogłem negocjować ani odmówić), który&nbsp;wyglądał tak:
                        mogłem grać jedną godzinę dziennie, a&nbsp;jeżeli chciałem grać więcej, musiałem czytać. Godzina czytania kupowała mi
                        kolejną godzinę grania. Jak się pewnie domyślasz, czytanie to była wtedy dla mnie katorga, zło&nbsp;konieczne.
                        Coś jak sesja dla studenta.</p>

                    <hr>
                    <h3>Sport to zdrowie!</h3>
                    <hr>
                    <p>Moja podstawówka była połączona z gimnazjum, uczyła tam moja mama. Rodzice zdecydowali, że&nbsp;trafię do klasy z profilem
                        sportowym, za&nbsp;co do dzisiaj jestem im wdzięczny. Przez sześć lat, aż&nbsp;do zakończenia gimnazjum, trenowałem piłkę ręczną.
                        W międzyczasie jeden z kolegów pokazał mi, czym&nbsp;jest beatbox, zarażając mnie kolejną zajawką. W weekendy graliśmy mecze
                        ligowe, a&nbsp;w&nbsp;tygodniu czasem miałem okazję "popluć" trochę przez mikrofon, gdy&nbsp;chłopaki od sprzętu zbierali swoje zabawki
                        po próbie jakiegoś apelu. Czasem robiłem to przed całą szkołą - nigdy nie miałem problemu z wyjściem na scenę
                        (no, może jedynie lekką tremę) i popisania się przed liczną publicznością.
                        Tak samo nie stresowałem się podczas meczu – najgorszy był czas oczekiwania do pierwszego gwizdka.
                        Potem przełączałem się na tryb działania. Trema znikała, a&nbsp;ja dawałem z siebie wszystko.</p>
                    <P>Parę razy usłyszałem od ludzi, że&nbsp;na boisku jestem innym człowiekiem. Powiem&nbsp;tak: piłka ręczna to sport dla twardzieli,
                        a&nbsp;ja poza boiskiem byłem raczej miłym dla wszystkich pacyfistą. Zresztą chyba nadal taki jestem. Sęk w tym, że&nbsp;zmieniałem
                        się na boisku. Nie byłem największym zabijaką na parkiecie, ale&nbsp;kryjący mnie gość musiał się liczyć z tym, że&nbsp;nie będzie
                        miał ze mną łatwo. </P>

                    <hr>
                    <h3>Początek drogi</h3>
                    <hr>
                    <p>Miałem może z dwanaście lat, gdy&nbsp;stwierdziłem, że&nbsp;mam dość książek, które wybiera mi tata. Obecnie nie mam nic do
                        „Tomka w Krainie Kangurów” czy „Pana Samochodzika”, jednak wtedy te książki wydawały mi się po prostu nudne.
                        Nie pamiętam, jak&nbsp;to się stało, jednak&nbsp;w końcu udaliśmy się do księgarni, gdzie tata kupił mi moją pierwszą oficjalną
                        książkę –&nbsp;„Harrego Pottera i&nbsp;Kamień Filozoficzny”! I&nbsp;tak załapałem bakcyla, który&nbsp;trzyma mnie do dzisiaj.</p>
                    <p>Przeczytałem cała książkę jednym tchem, a&nbsp;potem zająłem się&nbsp;resztą cyklu. Pochłonąłem powieści z uniwersum „Zwiadowców”
                        i „Malowanego Człowieka”, a&nbsp;jeszcze później... Cóż, sporo tego było. W gruncie rzeczy moja przygoda z literaturą zaczęła
                        się od kupienia wybranej przeze mnie książki. Nagle magicznym sposobem zdobywanie dodatkowego czasu grania stało się
                        łatwe i, co&nbsp;ważniejsze, przyjemne. Tak, nieprzypadkowo napisałem tutaj „magicznym”.</p>
                    <p>Ale skąd wziął się pomysł na pisanie?</p>

                    <hr>
                    <h3>Nie musisz zrobić tego lepiej</h3>
                    <hr>
                    <p>W gimnazjum w ręce wpadł mi „Eragon” Christophera Paoliniego. Ogromnie zdziwiło mnie, gdy&nbsp;dowiedziałem się, że&nbsp;w
                        dniu wydania swej powieści Chris miał zaledwie szesnaście lat! Ja kończyłem bodajże wtedy trzynasty albo
                        czternasty rok życia i&nbsp;pełen entuzjazmu pomyślałem "Jeśli on mógł, to&nbsp;czemu nie ja?" Stwierdziłem nawet, że&nbsp;go
                        pobiję i wydam książkę przed szesnastymi urodzinami. Weź tylko potrzymaj mi piwo… A&nbsp;raczej soczek.</p>
                    <p>Czytałem dużo poradników pisania. Przytoczę tu słowa jednego z autorów: "W pisaniu książki nie musisz zrobić tego lepiej
                        od profesjonalnego pisarza. Powiedz sobie, że&nbsp;możesz zrobić to równie dobrze".</p>
                    <p>Jak pewnie się domyślasz, do&nbsp;tej pory nie udało się nawet równie dobrze :)</p>
                    <p>Pomysł miałem, coś&nbsp;też tam pisałem, ale, gdy&nbsp;przeczytałem pierwszy napisany przeze mnie rozdział, mina mi zrzedła.
                        Wtedy nie wiedziałem, jak&nbsp;ważne jest stworzenie szczegółowego planu powieści i przekonujących postaci. Po prostu opisywałem
                        przygody mojego bohatera, który&nbsp;do złudzenia przypominał Willa Treaty ze Zwiadowców. O prawach związanych z plagiatem dowiedziałem
                        się dopiero potem.</p>
                    <p>Napisałem chyba z dziewięć krótkich rozdziałów, po&nbsp;czym wszystko usunąłem. Stwierdziłem po prostu, że&nbsp;to nie to.
                        Skupiłem się na szkole, ręcznej i beatboxsie. Parę miesięcy później podjąłem kolejną próbę, jednak rezultaty
                        ponownie mnie zawiodły. Wiedziałem, że mój warsztat jest słaby. Musiałem zdobyć doświadczenie. Poznać kogoś,
                        kto&nbsp;powie mi, co robić.</p>

                    <hr>
                    <h3>Pbf? Z czym to się je?</h3>
                    <hr>
                    <p>Niektórzy pisarze mówią, że każda przeczytana przez ciebie książka jest swego rodzajem podręcznikiem pisania
                        - tu mają rację, jednak&nbsp;pisanie, jak&nbsp;każda inna umiejętność, wymaga treningu. Ja miałem swój pomysł, to
                        umiejętności mi brakowało. Tak trafiłem na pbf'y.</p>
                    <p>PBF(rozwinięcie skrótu - play by forum) to z pozoru zwykłe forum, jednak&nbsp;jego idea opiera się na tym, że&nbsp;tematy
                        forumowe są odpowiednikiem jakiś lokacji, np. temat nazywa się „Karczma na Rozstajach”. Forumowicz w postach
                        opisuje zachowanie odgrywanej przez siebie postaci, w&nbsp;tym wypadku napisałby, co&nbsp;jego postać wyprawia w owej
                        karczmie, co&nbsp;czuje, jak&nbsp;się tam znalazła itp. <br>Gracze nawzajem wymieniają posty, tworząc&nbsp;tym samym wspólną historię.
                        Czasem też towarzyszy im Mistrz Gry, który opisuje zachowania postaci niezależnych, zmiany&nbsp;pogody, nagłe zwroty akcji
                        i tak dalej – o możliwościach wpływania postaci gracza na środowisko bez zgody Mistrza Gry decyduje regulamin poszczególnego
                        forum. Gdzieś tam też administratorzy pchają naprzód jakąś wielką fabułę, żeby&nbsp;gracze mieli, co&nbsp;robić.</p>
                    <p>Gorąco polecam spróbować!</p>
                    <p>Tym sposobem zabawy zainteresowałem się w połowie gimnazjum, a z ostatnim pbf'em pożegnałem się na początku 2019 roku.
                        Przez ten czas wcieliłem się w niemal sześć postaci w uniwersum "Złodzieja Pioruna" Ricka Riordana, Marvelowskiego Kapitana
                        Amerykę, wilkołaka w świecie zdominowanym przez wampiry, detektywa w autorskim świecie fantasy, młodą złodziejkę w
                        czasie apokalipsy zombie, awanturniczego krasnoluda podróżującego szlakiem przetartym przez słynnego "Wiedźmina",
                        niewidomego pirata w World of Warcraft, a także starego paladyna zesłanego do Górniczej Doliny, gdzie rozpoczęła
                        się akcja legendarnej gry Gothic. Trochę tych forów było, a&nbsp;na&nbsp;każdym poznawałem innych ludzi, od&nbsp;których się uczyłem
                        - od czytania ich postów, po&nbsp;pisanie własnych, aż&nbsp;po przyjmowanie zasłużonej krytyki. Napracowałem się, ale&nbsp;opłaciło się do tego stopnia,
                        że&nbsp;gdy ostatnio dołączyłem na próbę do kolejnego forum, po pierwszym napisanym przeze mnie poście administratorzy
                        chcięli mi nadać rangę "doświadczonego użytkownika"(czy coś w tym rodzaju).</p>

                    <hr>
                    <h3>Więc dlaczego informatyka?</h3>
                    <hr>
                    <p>Jak ojciec zapytał mnie po napisaniu matury, co chcę robić w życiu, powiedziałem, że&nbsp;chcę pisać książki.
                        Kocham pisać i będę pisał. Kropka.</p>
                    <p>W życiu jednak bywa różnie. Może moje książki nie okażą się bestsellerami, a wtedy musiałbym mieć inne źródło dochodu.
                        U nas w Polsce nie ma czegoś takiego jak studia kreatywnego pisania, więc&nbsp;musiałem wybrać coś innego. Zawsze lubiłem
                        komputery, więc&nbsp;padło na informatykę. Dochodowy kierunek? No pewnie! Przyjemny? Eeee... Na dwoje babka wróżyła. </p>
                    <p>Bez bicia przyznam, że&nbsp;w&nbsp;ciągu studiów zastanawiałem się wiele razy, co ja tu k**** robię. Wiem, że&nbsp;nie tyczy się
                        to tylko mnie jako studenta, aczkolwiek&nbsp;udało mi się w&nbsp;końcu odnaleźć - po prostu znalazłem to,
                        co mnie w informatyce interesuje.</p>
                    <p>Zaczynałem te studia z myślą o zostaniu team menadżerem, czyli&nbsp;kimś, kto&nbsp;odpowiada za pracę zespołu i&nbsp;nie
                        spędza całego dnia na pisaniu kodu. Zawsze byłem otwarty na ludzi i&nbsp;posiadam odpowiednie umiejętności,
                        które lepiej sprawdzą się w&nbsp;interakcji z&nbsp;drugim człowiekiem niż myszką i&nbsp;klawiaturą, jednak nikt na początku
                        kariery nie zwerbuje mnie na stanowisko team menadżera. Będę musiał wspinać się po drabinie kariery szczebel
                        za szczeblem, poczynając&nbsp;od stażysty, a&nbsp;kończąc na… Hmm, ktoś pewnie powiedziałby teraz, że&nbsp;to zależy już tylko ode mnie.</p>
                    <p>I może miałby rację.</p>

                    <hr>
                    <h3>Pomysł na bloga</h3>
                    <hr>
                    <p>O własnej stronie myślałem już od ponad roku. Parę miesięcy temu poznałem człowieka z&nbsp;branży IT, który&nbsp;został dla mnie
                        swego rodzaju mentorem – doradza, jak&nbsp;rozwijać karierę w branży, czym&nbsp;się obecnie zająć, żeby&nbsp;być atrakcyjnym dla
                        rekruterów itp. To taki mój mistrz Yoda. Powiedział mi, że&nbsp;fajnie by było, jakbym&nbsp;stworzył stronę o&nbsp;tym, co&nbsp;mnie interesuje,
                       prawdziwy Yoda powiedziałby raczej: „Fajnie byłoby, jakbyś o tym, co cię interesuję, stronę stworzył”. </p>
                    <p>Właśnie tak powstał ten blog – z pasji, lecz&nbsp;iskrą, która&nbsp;rozpaliła płomień, był rozwój mojej kariery informatyka.
                        Książkę pisałbym dalej tak czy siak, ale&nbsp;to właśnie dzięki Tobie, czytelniku, dowiem&nbsp;się, co&nbsp;powinienem
                        jeszcze poprawić we własnym warsztacie. Jak mówił Jan Paweł II: "Wymagajcie od siebie, choćby inni od was nie wymagali".
                        Czy jesteś potencjalnym rekruterem, czy&nbsp;zwykłym czytelnikiem, możesz&nbsp;zauważyć, że&nbsp;nie&nbsp;obca mi systematyczna praca,
                        znam&nbsp;się trochę na technologiach internetowych, znam techniki Jedi(tylko jasna strona mocy),
                        a&nbsp;na&nbsp;podstawie moich tekstów możesz ocenić też, czy&nbsp;można nazwać mnie kreatywnym. </p>

                    <hr>
                    <h3>Zapraszam do kontaktu!</h3>
                    <hr>
                    <p>Jeżeli sam piszesz i&nbsp;chciałbyś poznać moją subiektywną opinię, to&nbsp;chętnie przeczytam twój tekst. Profesjonalistą nie jestem,
                        ale&nbsp;trochę już w tym siedzę, więc&nbsp;może podpowiem ci coś sensownego. A&nbsp;może chcesz mnie o coś zapytać? Pisz śmiało!
                        Jeśli dobrnąłeś aż tutaj, czytając&nbsp;moją epopeję, to&nbsp;wiesz, że&nbsp;nie boję się kontaktu z ludźmi. Tak teraz patrzę tylko
                        na mój tekst i&nbsp;myślę „cholera, jak&nbsp;można tak dużo pisać o&nbsp;sobie?!” :)</p>
                    <p>Mam nadzieję, że&nbsp;nie weźmiesz mnie za jakiegoś Narcyza!</p>
                    <p>Niech moc będzie z Tobą.</p>


                </div>

                <div class="col-sm-3 leftSide">
                    <img id="myImage" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/14141633_1111643665597304_5943056743569652872_n.jpg?_nc_cat=102&_nc_ht=scontent-waw1-1.xx&oh=80006dd38613c9be960d159c003190cd&oe=5D90763C" alt="Błąd obrazka!">
                    <hr>
                    <h4 class="textTitle">Dane kontaktowe</h4>
                    <hr>
                    <p><i class="fas fa-at"></i> cuch.aleksander@gmail.com</p>
                    <p><i class="fab fa-instagram"><a href="https://www.instagram.com/aleksandercuch/"></i> aleksandercuch</a></p>
                    <p><i class="fab fa-facebook-f"></i><a href="https://www.facebook.com/Embers-eyed-100590794634472">  embers-eyed</a></p>
                    <p><i class="fab fa-linkedin-in"></i><a href="https://www.linkedin.com/in/aleksander-cuch-161118180/"> aleksandercuch</a></p>
                    <hr>
                    <img id="anotherImage" src="https://cdn.pixabay.com/photo/2017/06/19/02/00/embroidery-2417899_960_720.png" alt="Błąd obrazka!">
                </div>
            </div>
        </div>
    <hr>
    </body>
</html>