{% load static %}
<html>
    <head>
        <title>O mnie </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    </head>
    <body background="../static/images/background.jpg">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Aleksander Cuch</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

            </div>
                <ul class="nav navbar-nav navbar-center">
                    <li class="nav-item">
                        <a class="nav-link" href="../">STRONA GŁÓWNA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">O MNIE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../books">TEKSTY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../reviews">RECENZJE</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="../contact">KONTAKT</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Wyloguj ({{ user.username }})</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="../signup"><span class="fas fa-user"></span> Rejestracja</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../login"><span class="fas fa-sign-in-alt"></span> Logowanie</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </nav>

        <div class="content container">
            <div class="row">

                <div class="col-sm-8 leftSide">
                    <h1 class="textTitle">Trochę o mnie</h1>
                    <hr>


                    <p>NA POCZĄTEK wypadałoby się przedstawić. Nazywam się Aleksander Cuch, mam dwadzieścia jeden lat i niemal od urodzenia
                        mieszkam w Gdańsku, gdzie obecnie już trzeci rok studiuję informatykę. Przeglądana przez ciebie strona
                        jest jednym z moich tworów, więc mam nadzieję, że w chwili, gdy ujrzałeś stronę główną, nie pomyślałeś
                        czegoś w stylu "Oho, to musi być dzieło studenta"!</p>
                    <p>No ale miało być o mnie. Tak więc na uczelni w kółko piszę jakiś kod, zaś prywatnie oddaje się innemu
                        typowi pisania - mianowicie tworzę powieść fantasy zatytułowaną "Ostatni Zwiastun", której kilka rozdziałów
                        możesz przeczytać w dziale Teksty na mojej stronie. Dlaczego pisanie książek? Może nie będę się tu rozwijać
                        na ten temat, ale powiem tylko, że w życiu próbowałem już kilku rzeczy - przez sześć lat trenowałem piłkę ręczną,
                        zainteresowałem się beatboxem i występami na scenie, w liceum dołączyłem też do drużyny siatkarskiej.
                        Wykruszyłem się z tych marzeń, chociaż sport w postaci siłowni pozostał ze mną do dziś. I nie tylko on.</p>
                    <p>W pewnym momencie mojego życia założyłem sobie, że będę pisać książki. Ta myśl przetrwała trudy szkoły gimnazjalnej,
                        nie poddała się przy pierwszym wstrząsie w liceum, gdy gimnazjalne piątki i czwórki zmieniły się w trójki i dwuje,
                        i jest ze mną do teraz, na studiach. Ktoś teraz zapyta: co ty, chłopie, piszesz książkę ponad 8 lat?!</p>
                    <p>Odpowiedź brzmi: nie. I tak.</p>
                    <p>Moja przygoda z literaturą jest długa, to fakt, jednak Ostatni Zwiastun jest już trzecią wersją historii, która
                        przeszła radykalne zmiany, zresztą tak samo jak ja. Przez te lata cały czas pisałem, poprawiając warsztat, zdobywając
                        doświadczenie i rozwijając samego siebie. W końcu nadszedł czas, aby ruszyć z kopyta. Już trochę o mnie wiesz, więc nie będę cię dalej zanudzać, jeśli jednak chcesz
                        dowiedzieć się, dlaczego piszę i jak powstała ta strona, to zapraszam cię do dalszej lektury. Tym, którzy teraz odpuszczą,
                        życzę miłego czytania :)</p>
                </div>

                <div class="col-sm-3">
                    <img src="../static/images/myFoto.png" alt="Błąd obrazka!">
                    <hr>
                </div>

            </div>
        </div>
    </body>
</html>