{% load static %}
<html>
   <head>
        <title>Rejestracja</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    </head>
    <body background="../static/images/background.jpg">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Aleksander Cuch</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
             <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="nav navbar-nav navbar-center">
                    <li class="nav-item">
                        <a class="nav-link" href="../">STRONA GŁÓWNA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../aboutMe">O MNIE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../books">TEKSTY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../reviews">RECENZJE</a>
                    </li>
                </ul>
             </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Wyloguj ({{ user.username }})</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="../signup"><span class="fas fa-user"></span> Rejestracja</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../login"><span class="fas fa-sign-in-alt"></span> Logowanie</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </nav>

        <div class="content container">
            <div class="row">
                <div class="col-sm-8 leftSide">
                    <h1 class="textTitle">Regulamin</h1>
                    <hr>

                    <p><b>Przede wszystkim kultura.</b> Publikuję na tym blogu własne treści i&nbsp;poglądy. Jestem świadom,
                    że&nbsp;w wielu tematach wasza wiedza może przekraczać moją, ale&nbsp;to jeszcze nie upoważnia żadnego z nas
                    do hamskiego zachowania względem siebie -&nbsp;swoją wiedzą możecie się podzielić w postaci komentarza.
                    Wszyscy powinniśmy coś sobą reprezentować, dlatego&nbsp;będą kasowane komentarze,
                    które&nbsp;:</p>

                    <p>1. Są obraźliwe wobec mnie lub&nbsp;innych użytkowników. Nie znaczy to, że&nbsp;odbieram ci prawo głosu.
                        Napisz to, co&nbsp;masz na myśli, ale&nbsp;kulturalniej.</p>

                    <p>2. Są zupełnie niezwiązane z&nbsp;tematem wpisu.</p>

                    <p>3. Są spamem. Za taki uznaję podawanie w komentarzach linków do swoich stron, innych&nbsp;blogów
                        lub powielanie treści z&nbsp;pomocą metody kopiuj-wklej.</p>

                   <p> W przypadku nieprzestrzegania powyższych punktów, użytkownik&nbsp;otrzyma ostrzeżenie mailowe. Jeżeli
                    nie poprawi swojego zachowania, zostanie&nbsp;odesłany z bloga.</p>

                    <p>Wszystkie utwory na blogu należą do mnie, a&nbsp;to&nbsp;oznacza, że&nbsp;podlegają ochronie prawnej.
                    W związku z powyższym nie wyrażam zgody na kopiowanie,
                    drukowanie&nbsp;oraz powielanie treści zamieszczanych na blogu, jako&nbsp;własne, bez&nbsp;mojej pisemnej zgody.</p>

                    <p>Zastrzegam sobie również prawo do edycji tego regulaminu. O&nbsp;takim zabiegu zostaniecie powiadomieni w&nbsp;postaci
                    posta na blogu.</p>



                </div>
                <div class="col-sm-4">
                    <div class="post">
                      {% block content %}
                      <h1 class="textTitle">Rejestracja</h1>
                        <hr>
                        <form method="post">
                          {% csrf_token %}
                            {% for field in form %}
                            <p>
                              {{ field.label_tag }}<br>
                              {{ field }}
                              {% if field.help_text %}
                                <small style="display: none">{{ field.help_text }}</small>
                              {% endif %}
                              {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                              {% endfor %}
                            </p>
                            {% endfor %}

                          <button type="submit">Zarejestruj się</button>
                        </form>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>



